{%load static%}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="小众品牌集合地，穿出独特风格。"/>

<meta name="author" content="Sun."/>

<meta name="keywords" content="购物，小众品牌，衣服"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Brands</title>

</head>

<body class="top">



<div class="storageVolumes clearfix control_main_disk_right" ng-controller="buySucceedCtrl">

<!-- 购买成功 -->

<div class="buySucceedBox">

<h1>Successful!</h1>

</div>

</div>

</body>

</html>